All Below are Using jinja2's built in "format" filter from List of Builtin Filters
http://jinja.pocoo.org/docs/2.9/templates/#builtin-globals
Use of Use of {:.2f} Results in TypeError: not all arguments converted during string formatting
Case One: {{ "$%.2f"|format(decimals['case_one']) }}
Case Two: {{ "$%.2f"|format(decimals['case_two']) }}
Case Three Rounds up to $10.01 when given 10.006
Case Three: {{ "$%.2f"|format(decimals['case_three']) }}
Case Four: {{ "$%.2f"|format(decimals['case_four']) }}


All Below are Using python3's String Formatting
https://docs.python.org/3.4/library/string.html#formatspec
Case One: {{ "{:2d}".format(decimals['case_one']) }}
