# testing if ENVIRONMENT VARIABLES are set
# sudo /opt/elasticbeanstalk/bin/get-config environment
# it appears that container_commands are required to access environment variables that are set by EB
container_commands:
  cron_install: 
    command: |
      echo "Run Crons Value: $RUN_CRONS" >> /var/log/crons_install.log
      if [[ "${RUN_CRONS}" == "true" ]] ; then cp /opt/python/bundle/3/app/crons/eb_crons /etc/cron.d/ ; fi ; service cron reload
    # test: a test could be implemented to only copy/install file and restart cron if file is different
    ignoreErrors: true
